---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ðŸ” Tus Retos">
    <header>
        <a href="/">ðŸ”™ Volver a Index</a>
    </header>
    <main>
        <h2>Retos</h2>
    </main>
</Layout>